<html>
<body>

<h1>Sign up:</h1>

<form action="/create-user" method="post">
    <input type="text" placeholder="Enter a username" name="userName"/>
    <input type="text" placeholder="Enter a password" name="password"/>
    <button type="submit" action="">Submit</button>
</form>

</body>
</html>